body {
    background-color: #ebebeb;
    font-family: 'Josefin Sans', sans-serif;
}


#title {
    font-weight: 500;
    font-size: 90px;
    margin-left: 0.5em;
    margin-top: 0.3em;
    color: #ae9b8d;
    left: 0;
    transition: left 0.5s ease-out;
    position: absolute;
}

#title.menu-open {
    left: -5%;
}

.word1 {
    animation: slide-in-left 0.5s forwards;
    transition: transform 1.2s ease-out;
    text-decoration: none;
    color: #ae9b8d;
}


@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.menu-icon {
    animation: slide-in-right 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 15px;
}

.menu-icon div {
    width: 140px;
    height: 30px;
    background-color: #2e393a;
    margin: 10px 0;
}

.menu-icon span {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: bold;
    color: #ebebeb;
}

.menu {
    animation: slide-in-right 0.5s ease-in-out;
    width: 35%;
    position: absolute;
    background-color: #2e393a;
    margin-left: 65%;
    display: none;
    text-align: center;
    height: 550px;
    border-bottom-left-radius: 150px;
    z-index: 1;
}

li a:hover {
    color: #EB2F1E;
    transition-duration: 0.3s;
}


.menu li,
li a {
    list-style: none;
    text-decoration: none;
    color: #ebebeb;
    margin: 30px 0;
    font-size: 30px
}

.menu ul {
    margin-top: 150px;
}

.contact {
    position: absolute;
    left: 120px;
    top: -72px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;

    text-shadow: -2px -2px 0 #ebebeb, 2px -2px 0 #ebebeb, -2px 2px 0 #ebebeb, 2px 2px 0 #ebebeb;
    color: #EB2F1E;
}

.rectangle {
    position: absolute;
    width: 970px;
    height: 750px;
    left: 450px;
    top: 250px;
    background: #EB2F1E;
    border-radius: 80px;
    box-shadow: 2px 2px 5px black;
}

.rectangle2 {
    position: absolute;
    width: 950px;
    height: 300px;
    left: 450px;
    top: 1100px;
    background: #B8A89B;
    border-radius: 60px;
    box-shadow: 2px 2px 5px black;
}

.donate {
    position: absolute;
    height: 275px;
    left: 160px;
    background-color: #B8A89B;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #2E393A;
}

.donate:hover {
    color: #EB2F1E;
    text-decoration: underline;
}



.skwarek {
    width: 250px;
    height: 250px;

    position: absolute;
    top: 150px;
    left: 100px;
    border: 2px white solid;
}

.sawol {
    width: 250px;
    height: 250px;

    position: absolute;
    top: 150px;
    right: 100px;
    border: 2px white solid;

}

.portfolio {
    color: #ebebeb;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

#portfolio-skwarek {
    position: absolute;
    top: 450px;
    left: 75px;
}

#portfolio-sawol {
    position: absolute;
    top: 450px;
    right: 25px;
}


.portfolio span {
    color: #2E393A;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


/* LINIE - FORMULARZ KONTAKTOWY */
.line1 {
    position: absolute;
    width: 912px;
    height: 0px;
    top: 1800px;
    left: 450px;

    border: 5px solid #AE9B8D;
}

.line1 h1 {
    position: absolute;
    width: 729px;
    height: 95px;
    left: 185px;
    bottom: 0px;
    margin: auto;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}


.line2 {
    position: absolute;
    width: 353px;
    height: 0px;
    left: 480px;
    top: 1951px;

    border: 5px solid #AE9B8D;
}

.line2 h1 {
    position: absolute;
    width: 353px;
    height: 59px;
    left: 105px;
    bottom: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}

.line2 input {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 26px;
    bottom: 10px;
    margin: auto;


    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}


.line3 {
    position: absolute;
    width: 353px;
    height: 0px;
    left: 930px;
    top: 1951px;

    border: 5px solid #AE9B8D;
}

.line3 h1 {
    position: absolute;
    width: 353px;
    height: 59px;
    left: 125px;
    bottom: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}

.line3 input {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 25px;
    bottom: 10px;
    margin: auto;


    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}


.line4 {
    position: absolute;
    width: 729px;
    height: 0px;
    left: 500px;
    top: 2064px;

    border: 5px solid #AE9B8D;
}

.line4 h1 {
    position: absolute;
    width: 729px;
    height: 95px;
    left: 280px;
    bottom: 20px;
    margin: auto;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}

.line4 input {
    position: absolute;
    width: 600px;
    height: 30px;
    left: 70px;
    bottom: 10px;
    margin: auto;


    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}

.message {
    box-sizing: border-box;

    position: absolute;
    width: 912px;
    height: 422px;
    left: 450px;
    top: 2121px;

    background: #D9D9D9;
    border: 5px solid #AE9B8D;
}

.message input {
    width: 912px;
    height: 422px;
    scale: 80%;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 406;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;
}


.send {
    position: absolute;
    width: 290px;
    height: 120px;
    left: 750px;
    top: 2584px;
    background: #2E393A;
}

.send h {
    position: absolute;
    width: 200px;
    height: 76px;
    bottom: 10px;
    left: 70px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #AE9B8D;

}

.send:hover {
    border: 4px solid #EB2F1E;
}

h5 {
    position: absolute;
    width: 915px;
    height: 83px;
    left: 560px;
    top: 2762px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.email {
    box-sizing: border-box;

    position: absolute;
    width: 720px;
    height: 121px;
    left: 500px;
    top: 2900px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 406;
    font-size: 52px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2E393A;

    background: #D9D9D9;
    border: 5px solid #2E393A;
}

.quadrat {
    position: absolute;
    width: 120px;
    height: 122px;
    left: 1210px;
    top: 2900px;

    background: #2E393A;
}

h4 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 406;
    font-size: 52px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;

    position: absolute;
    top: 50px;
    left: 50px;

    color: #D9D9D9;

}

.quadrat:hover {
    background: #EB2F1E;
}

h2 {
    color: #ae9b8d;
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    border-top: 3px solid #ae9b8d;
    ;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    background: #ebebeb;
    padding: 0 10px;
}

.footer {
    position: relative;
    top: 3200px;
}

.pop {
    position: fixed;
    top: 40%;
    left: 31%;
    display: none;
    width: 600px;
    height: auto;
    background: #EB2F1E;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
    box-shadow: 2px 2px 5px black;
}

.check-btn {
    border: none;
    background-color: #ebebeb;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
}

.check-btn:hover {
    transition-duration: 0.3s;
    background-color: white;
}
