body {
    background-color: #ebebeb;
    font-family: 'Josefin Sans', sans-serif;
}


#title {
    font-weight: 500;
    font-size: 90px;
    margin-left: 0.5em;
    margin-top: 0.3em;
    color: #ae9b8d;
    left: 0;
    transition: left 0.5s ease-out;
    position: absolute;
}

#title.menu-open {
    left: -5%;
}

.word1 {
    animation: slide-in-left 0.5s forwards;
    transition: transform 1.2s ease-out;
    text-decoration: none;
    color: #ae9b8d;
}

/*
.word2 {
    animation: slide-in-left 1s forwards;
    transition: transform 0.2s ease-out;
    margin-left: 150px;
    margin-top: -40px;
    text-shadow: -1px 0 #ebebeb, 0 1px #ebebeb, 1px 0 #ebebeb, 0 -1px #ebebeb;
}
*/

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.menu-icon {
    animation: slide-in-right 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 15px;
}

.menu-icon div {
    width: 140px;
    height: 30px;
    background-color: #2e393a;
    margin: 10px 0;
}

.menu-icon span {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: bold;
    color: #ebebeb;
}

.menu {
    animation: slide-in-right 0.5s ease-in-out;
    width: 35%;
    position: absolute;
    background-color: #2e393a;
    margin-left: 65%;
    display: none;
    text-align: center;
    height: 550px;
    z-index: 1;
    border-bottom-left-radius: 150px;
}

.menu li,
li a {
    list-style: none;
    text-decoration: none;
    color: #ebebeb;
    margin: 30px 0;
    font-size: 30px
}

li a:hover {
    color: #EB2F1E;
    transition-duration: 0.3s;
}


.menu ul {
    margin-top: 150px;
}

#test_header {
    position: relative;
    width: 900px;
    height: 150px;
    background-color: #EB2F1E;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    border-radius: 40px;
    text-align: center;
    font-size: 60px;
    color: #2E393A;
    box-shadow: 2px 2px 5px black;
}

#test_top {
    position: relative;
    top: -42px;
    font-weight: 600;
    text-shadow: -2px -2px 0 #ebebeb, 2px -2px 0 #ebebeb, -2px 2px 0 #ebebeb, 2px 2px 0 #ebebeb;
    color: #EB2F1E;
}

.quiz-box {
    position: relative;
    width: 1100px;
    height: auto;
    background-color: #AE9B8D;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    top: 350px;
    border-radius: 40px;
    text-align: center;
    font-size: 23px;
    color: #2E393A;
    box-shadow: 2px 2px 5px black;
}

.answer-box {
    margin: 50px;
}

.modal {
    position: relative;
    width: 900px;
    height: 150px;
    background-color: #EB2F1E;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    text-align: center;
    font-size: 50px;
    color: #2E393A;
    padding: 1px;
    box-shadow: 2px 2px 5px black;
}

.modal h4 {
    position: absolute;
    top: -92px;
    left: 40px;
    font-weight: 600;
    text-shadow: -2px -2px 0 #AE9B8D, 2px -2px 0 #AE9B8D, -2px 2px 0 #AE9B8D, 2px 2px 0 #AE9B8D;
    color: #EB2F1E;
    font-size: 45px;
}

.check-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    background-color: #ebebeb;
    margin: 30px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 2px 2px 5px black;
}

.check-btn:hover {
    background-color: #EB2F1E;
}

h2 {
    color: #ae9b8d;
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    border-top: 3px solid #ae9b8d;
    ;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    background: #ebebeb;
    padding: 0 10px;
}

.footer {
    position: relative;
    top: 400px;
}