body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    display: flex;
    background-color: #FFFEFF;
    position: relative;
    height: 550px;
}

#title {
    font-weight: 500;
    font-size: 180px;
    margin-left: 0.5em;
    margin-top: 0.3em;
    color: #ae9b8d;
    transition: left 0.5s ease-out;
}

#title.menu-open {
    left: -5%;
}

.word1 {
    animation: slide-in-left 0.5s forwards;
    transition: transform 1.2s ease-out;
}

.word2 {
    animation: slide-in-left 1s forwards;
    transition: transform 0.2s ease-out;
    margin-left: 150px;
    margin-top: -40px;
    text-shadow: -1px 0 #FFFEFF, 0 1px #FFFEFF, 1px 0 #FFFEFF, 0 -1px #FFFEFF;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.header_husaria {
    animation: slide-in-right 1s ease-in-out;
    padding-left: 200px;
    margin-top: -80px;
    left: 0;
    transition: left 0.5s ease-out;
    position: relative;
    z-index: 1;
}

.header_husaria.menu-open {
    left: -17%;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.menu-icon {
    animation: slide-in-right 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

.menu-icon div {
    width: 140px;
    height: 30px;
    background-color: #2e393a;
    margin: 10px 0;
}

.menu-icon span {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: bold;
    color: #FFFEFF;
}

.menu {
    animation: slide-in-right 0.5s ease-in-out;
    width: 35%;
    position: absolute;
    background-color: #2e393a;
    position: absolute;
    margin-left: 65%;
    text-align: center;
    height: 550px;
    border-bottom-left-radius: 150px;
}

.menu li,
li a {
    list-style: none;
    text-decoration: none;
    color: #FFFEFF;
    margin: 30px 0;
    font-size: 30px
}

li a:hover {
    color: #EB2F1E;
    transition-duration: 0.3s;
}


.menu ul {
    margin-top: 150px;
}

.persons {
    position: relative;
    text-align: center;
    border: 100px;
}

#person {
    background-color: #EBEBEB;
    height: 400px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #2E393A;
}

#person:nth-child(even) {
    background-color: #FFFEFF;
}

#number-box {
    border-bottom: 400px solid #EB2F1E;
    border-left: 0 solid transparent;
    border-right: 140px solid transparent;
    border-top: 0 solid transparent;
    width: 400px;
    float: left;
    transition: width 0.5s;
    color: #EBEBEB;
}

#person:hover #number-box {
    width: 700px;
}

#person:nth-child(even) #number-box {
    border-bottom: 400px solid #2E393A;
    border-left: 140px solid transparent;
    border-right: 0 solid transparent;
    border-top: 0 solid transparent;
    float: right
}

#person:nth-child(3) #number-box {
    border-bottom: 400px solid #AE9B8D;
}

#nr,
#number {
    position: absolute;
    font-weight: 600;
    z-index: 1;
}

#nr {
    top: 295px;
    left: 80px;
    font-size: 40px;
}

#number {
    top: 25px;
    left: 200px;
    font-size: 400px;
}

#info {
    position: absolute;
    font-size: 42px;
    left: 485px;
    top: 124px;
    transform: rotate(70.7deg);
    visibility: hidden;
}

#person:hover #number-box #info {
    visibility: visible;
}

#person:nth-child(even) #number-box #number {
    top: 25px;
    right: -1300px;
    font-size: 400px;
}

#person:nth-child(even) #number-box #nr {
    top: 295px;
    right: -1100px;
    font-size: 40px;
}

#person:nth-child(even) #number-box #info {
    left: 994px;
    top: 124px;
    transform: rotate(-70.7deg);
    color: #FFFEFF
}

#name {
    font-weight: 700;
    font-size: 90px;
    position: relative;
    top: 110px;
    left: -200px;
}

#person:nth-child(even) #name {
    left: 345px;
}


.pers-photo {
    position: relative;
    left: 400px;
    top: -120px;
}

#person:nth-child(even) .pers-photo {
    left: -450px;
    transform: scale(0.5);
    top: -200px;
    left: -290px;
    position: absolute;
    transition: left 0.5s;
}

#person:nth-child(1) .pers-photo {
    transform: scale(1.2);
}

#person:nth-child(3) .pers-photo {
    transform: scale(0.8);
    top: -180px;
    left: 370px;
}

#person:nth-child(even):hover .pers-photo {
    left: -410px;
}

h2 {
    color: #ae9b8d;
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    border-top: 3px solid #ae9b8d;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    background: #fff;
    padding: 0 10px;
}
